@use '@/common/styles/colors.scss' as color;
@use '@/common/styles/fonts.scss' as font;

html {
  font-size: 62.5%;
}

.v-application,
body {
  font-family: 'Nunito', sans-serif;
  background-color: color.$grey;
  color: color.$dark-grey;
  @include font.format-text('normal', 600)
}
